<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{nome}} - Listagem </title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="../static/img/hbsis-logo.png" alt="">
            <span>hbsis</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/">inicio</a>
            </li>
            <li style="color: #3934d1;">|</li>
            <li>
                <a href="/listagem">listagem</a>
            </li>
            <li style="color: #3934d1;">|</li>
            <li>
                <a href="/cadastrar">cadastrar produto</a>
            </li>
        </ul>
    </nav>
    <div class="title">
        <h1>Listagem</h1>
    </div>
    <div class="container">
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr class="w3-light-grey">
                    <th>Cerveja</th>
                    <th>Teor (%)</th>
                    <th>Tipo</th>
                    <th>Valor (R$)</th>

                </tr>
            </thead>
            <tr>
                <td>Corona</td>
                <td>30</td>
                <td>Top</td>
                <td>4.50</td>
            </tr>
    </div>

    </div>

</body>

</html>